*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: purple;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

label {
    margin-left: 5px;
    color: white;
}
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

